body {
  background-color: #E8E8EE;
}

table {
    width : 100%;
}

th {
    border: 1px solid black;
    text-align: center;
    height: 70px;
    font-size: x-large;
    background-color: lightgrey;
}

td {
   border: 1px solid black;
   text-align: center;
   height: 35px;
   font-size: large;
}

tr:nth-child(even) {
    background-color: #D3AC8B;
}

tr:nth-child(odd) {
    background-color: #B9C4ED;
}

p {
    align: left;
    font-size: large;
}

body {
    text-align: center;
}

form {
    width: 40%;
    display: inline-block;
}

.navbar-custom {
    background-color: #B9C4ED;
    font-size : medium;
    padding: .75rem 1rem;
}

.perfect-fit {
    background-color: #149414;
}

.good-fit {
    background-color: #6EEE6E;
}

.bad-fit {
    background-color: #FF9696;
}

.not-fit {
    background-color: #FF2828;
}
