body {
  background-color: #E8E8EE;
}

table{
    width : 100%;
}



th {
    border: 1px solid black;
    text-align: center;
    height: 70px;
    font-size: x-large;
    background-color: lightgrey;
}

td{
   border: 1px solid black;
   text-align: center;
   height: 35px;
   font-size: large;
}

tr:nth-child(even){
    background-color: #FFB6C1;
}

tr:nth-child(odd){
    background-color: #B9C4ED;
}

.navbar-custom {
    background-color: #B9C4ED;
    font-size : medium;
    padding: .75rem 1rem;
}
