<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %}

{% block title %}
    Realtor Pugh Pugh
{% endblock %}
<body>
{% block navbar %}
    <div class="navbar navbar-default">
       Realtor Pugh Pugh:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('add_listing') }}">New Listing</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>