<!DOCTYPE html>
{% extends 'base.html' %}

{% block app_content %}
    <h1>
        Welcome to Realtor Pugh Pugh
    </h1>
    <p>
        This web app is a convenient way to compare multiple listings based on some preset criteria in
        a way that will remove emotions from such a large decision.

        By establishing your "CTQ's" prior to begining your home buy journey, some shiny features of a house will be
        unbiasedly compared to what actually matters to you as a home buyer.

        Following this methodology, you should feel very confident that you will purchase the right house.
    </p>
{% endblock %}