<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
    <h1>Hello {{ username }}!</h1>
    <h2>Here are your current listings:</h2>
    <body>
        <table style="width:100%">
            <caption>CTQ's</caption>
            <tr>
                <th>
                    Listing
                </th>
                {% for head in col_headers %}
                    <th>{{ head }}</th>
                {% endfor %}
                <th>
                    Total
                </th>
            </tr>
            {% for listing in listings %}
            <tr>
                <td align='center'>{{ listing.listing_name }}</td>
                    {% for rate in listing.rating %}
                        <td align='center'>{{ rate }}</td>
                    {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </body>
{% endblock %}
</html>