<!--TODO: look into coloring the total green after certain point. might need JS -->
{% extends "base.html" %}

{% block app_content %}
    <h1>Hello {{ username }}!</h1>
    <h2>Here are your current listings:</h2>
    <body>
        <table style="width:100%">
            <tr>
                <th>
                    Listing
                </th>
                {% for head in col_headers %}
                    <th>{{ head }}</th>
                {% endfor %}
                <th>
                    Total
                </th>
            </tr>
            {% for listing in listings %}
            <tr>
                <td>{{ listing.listing_name }}</td>
                    {% for rate in listing.rating %}
                        <td>{{ rate }}</td>
                    {% endfor %}
                {% if listing.total == max_total %}
                    <td class="perfect-fit">{{ listing.total }}</td>
                {% elif listing.total >= good_range %}
                    <td class="good-fit">{{ listing.total }}</td>
                {% elif listing.total >= bad_range %}
                    <td class="bad-fit">{{ listing.total }}</td>
                {% else %}
                    <td class="not-fit">{{ listing.total }}</td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </body>
{% endblock %}
